<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie List</title>
  </head>
  <body>
    <h1>Movie List</h1>
    <ul>
      <% movies.forEach(movie => { %>
        <li>
          <%= movie.title %> (<%= movie.year %>) - <%= movie.director %>
          <form method="POST" action="/movies/<%= movie.id %>?_method=DELETE">
            <button>Delete</button>
          </form>
          <a href="/movies/<%= movie.id %>/edit">Edit</a>
        </li>
      <% }) %>
    </ul>

    <h2>Add a New Movie</h2>
    <form method="POST" action="/movies">
      <label>Title:</label>
      <input type="text" name="title">
      <br>
      <label>Director:</label>
      <input type="text" name="director">
      <br>
      <label>Year:</label>
      <input type="text" name="year">
      <br>
      <button type="submit">Add Movie</button>
    </form>
  </body>
</html>
