<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Edit <%= movie.title %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #F0F0F0;
      color: #333;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin: 20px 0;
      background-color: #FFF;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #444;
      color: #FFF;
    }
    tr:nth-child(even) {
      background-color: #F0F0F0;
    }
  </style>
</head>
<body>
  <h1>Edit <%= movie.title %></h1>
  <form action="/movies/<%= movie.id %>?_method=PUT" method="POST">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= movie.title %>">
    </div>
    <div>
      <label for="director">Genre:</label>
      <input type="text" id="genre" name="genre" value="<%= movie.genre %>">
    </div>
    <div>
      <label for="director">Director:</label>
      <input type="text" id="director" name="director" value="<%= movie.director %>">
    </div>
    <div>
      <label for="actors">Actors:</label>
        <input type="text" id="actor" name="actor" value="<%= movie.actor %>">
    </div>
    <div>
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" value="<%= movie.year %>">
    </div>
    <button type="submit">Save Changes</button>
  </form>
  <a href="/movies/<%= movie.id %>">Cancel</a>
</body>
</html>
