<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= movie.title %></title>
  </head>
  <body>
    <h1><%= movie.title %> (<%= movie.year %>)</h1>
    <p>Directed by <%= movie.director %></p>

    <h2>Edit Movie</h2>
    <form method="POST" action="/movies/<%= movie.id %>?_method=PUT">
      <label>Title:</label>
      <input type="text" name="title" value="<%= movie.title %>">
      <br>
      <label>Director:</label>
      <input type="text" name="director" value="<%= movie.director %>">
      <br>
      <label>Year:</label>
      <input type="text" name="year" value="<%= movie.year %>">
      <br>
      <button type="submit">Update Movie</button>
    </form>

    <form method="POST" action="/movies/<%= movie.id %>?_method=DELETE">
      <button>Delete Movie</button>
    </form>
  </body>
</html>
