<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= movie.title %></title>
  </head>
  <body>
<!-- movie.ejs -->
<h1><%= movie[0].title %></h1>
<p><strong>Genre: </strong><%= movie[0].genre %></p>
<p><strong>Director: </strong> <%= movie[0].director %></p>
<p><strong>Actors: </strong><%= movie[0].actor %></p>
<p><strong>Year: </strong> <%= movie[0].year %></p>

<a href="/movies/<%= movie[0].id %>/edit" class="btn btn-primary">Edit</a>
<form action="/movies/<%= movie.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>

  </body>
</html>
